<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\mrabe\Desktop\Java Project\Online Banking App\target\Application-1.0-SNAPSHOT-jar-with-dependencies.jar</jar>
  <outfile>C:\Users\mrabe\Desktop\Java Project\Online Banking App\setup\ABC Bank.exe</outfile>
  <errTitle>This Application Requires Java Runtime Environment To Run</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>https://www.java.com/en/download/</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\mrabe\Desktop\Java Project\resources\icon.ico</icon>
  <singleInstance>
    <mutexName>ABC Bank</mutexName>
    <windowTitle>ABC Bank</windowTitle>
  </singleInstance>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>